<div *ngIf="timesheetsLoading; then loader else times"></div>

<p *ngIf="errorMessage">{{errorMessage}}</p>

<ng-template #loader>
  <div>
    <table [ngClass]="tableClass">
      <tr>
        <th>labour date</th>
        <th>Start</th>
        <th>Lunch Break</th>
        <th>Finish</th>
        <th *ngFor="let rt of columnHeaders">
          {{ rt.Description }}</th>
        <th>Bill value</th>
        <th>Pay value</th>
      </tr>
      <tr *ngFor="let d of wfDays">
        <td></td>
        <td>{{ d | date:"EEE dd/MM/yyyy" }}</td>
        <td>--:--</td>
        <td>-</td>
        <td>--:--</td>
        <td *ngFor="let rt of columnHeaders">
          --:--
        </td>
        <td>R ---.--</td>
        <td>R ---.--</td>
      </tr>
    </table>
  </div>
</ng-template>

<ng-template #times>
  <div>

    <table [ngClass]="tableClass">
      <tr>
        <th></th>
        <th>labour date</th>
        <th>Start</th>
        <th>Break</th>
        <th>Finish</th>
        <th *ngFor="let rt of columnHeaders"
          [mdTooltip]="rt?.Description"
          [mdTooltipPosition]="'above'">{{ rt.Code }}</th>
        <th>Cost Centre</th>
        <th>Position</th>
        <th>Rategroup</th>
        <th>Workgroup</th>
        <th>Pay value</th>
        <th>Bill value</th>
      </tr>
      <tr *ngFor="let t of timesheets " (click)='selectDay(t)' [ngClass]="t.Breakdown | timesheetStatus" class="tr-right-border">
        <td>
          <a md-button (click)="openDialog(t)">edit</a>
        </td>
        <td>{{ t.timesheet.Date | date:"EEE dd/MM/yyyy" }}</td>
        <td *ngIf="t.Breakdown">{{ t.Breakdown.strS }}</td>
        <td *ngIf="t.Breakdown">{{ t.Breakdown.strB }}</td>
        <td *ngIf="t.Breakdown">{{ t.Breakdown.strF }}</td>
        <td *ngIf="!t.Breakdown">00:00</td>
        <td *ngIf="!t.Breakdown">00:00</td>
        <td *ngIf="!t.Breakdown">00:00</td>
        <!-- <td *ngIf="!selectedDay">{{ t.contractOrderEmployeeDetails.costCentreName }}</td>
        <td *ngIf="(selectedDay && !t.selected)">{{ t.contractOrderEmployeeDetails.contractOrderCostCentreID }}</td> -->

        <td *ngFor="let rt of columnHeaders">
          <ng-container *ngIf="!t.selected || !t.canEdit">{{ t.Total.Breakdown | rateType: rt.RateTypeID | decimalToTime }}</ng-container>
          <md-input-container
            *ngIf="t.selected && t.canEdit"
            floatPlaceholder="never"
            (change)="changeTotal(rt)" >
            <input mdInput placeholder="hh:mm" [(ngModel)]="time[rt.RateTypeID]">
          </md-input-container>
        </td>
        <td *ngIf="t.contractOrderEmployeeDetails && costCentres">
          <md-select
            placeholder="Cost centre"
            name="CostCentre"
            floatPlaceholder="never"
            [(ngModel)]="t.contractOrderEmployeeDetails.contractOrderCostCentreID"
            (change)="timesheetChanged(t, 'costCentreID', t.contractOrderEmployeeDetails.contractOrderCostCentreID)">
            <md-option *ngFor="let c of costCentres[t.contractOrderEmployeeDetails.contractOrderID]" [value]="c.ContractOrderCostCentreID">
              {{c.CostCentreName}}
            </md-option>
          </md-select>
        </td>
        <td *ngIf="t.contractOrderEmployeeDetails && positions">
          <md-select
            placeholder="Position"
            name="Position"
            floatPlaceholder="never"
            [(ngModel)]="t.contractOrderEmployeeDetails.contractOrderPositionID"
            (change)="timesheetChanged(t, 'positionID', t.contractOrderEmployeeDetails.contractOrderPositionID)">
            <md-option *ngFor="let p of positions[t.contractOrderEmployeeDetails.contractOrderID]" [value]="p.ContractOrderPositionID">
              {{p.Position}}
            </md-option>
          </md-select>
        </td>
        <td *ngIf="t.contractOrderEmployeeDetails && rategroups">
          <md-select
            placeholder="Rate group"
            name="PRateGroup"
            floatPlaceholder="never"
            [(ngModel)]="t.contractOrderEmployeeDetails.contractOrderPositionRateGroupID"
            (change)="timesheetChanged(t, 'positionRateGroupID', t.contractOrderEmployeeDetails.contractOrderPositionRateGroupID)">
            <md-option *ngFor="let r of rategroups[t.contractOrderEmployeeDetails.contractOrderPositionID]" [value]="r.ContractOrderPositionRateGroupID">
              {{r.ContractOrderPositionRateGroup}}
            </md-option>
          </md-select>
        </td>
        <td>{{ t.contractOrderEmployeeDetails.workgroup }}</td>

        <td>{{ t.Total.BillValue | currency:'ZAR':true }}</td>
        <td>{{ t.Total.PayValue | currency:'ZAR':true }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td *ngFor="let rt of columnHeaders">
          {{ timesheets | rateGroupTotal: rt.RateTypeID | decimalToTime }}
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td>{{ timesheets | billValueTotal | currency:'ZAR':true }}</td>
        <td>{{ timesheets | payValueTotal | currency:'ZAR':true }}</td>
      </tr>
    </table>
  </div>
</ng-template>

<!-- <button (click)="saveTimesheetChanges()">save changes</button> -->
