<ng-container *ngIf="!loading && !error">
  <app-login
    *ngIf="!loggedIn"
    [wfUser]="wfUser"
    [lockUser]="lockUser"
    (newLogin)="newLogin($event)"></app-login>

  <ng-container *ngIf="loggedIn">
    <app-header (headerClick)="headerClick($event)" [buttons]="headerButtons"></app-header>

    <ng-container *ngIf="approving">
      <p>Approving timesheets</p>
    </ng-container>

    <ng-container *ngIf="!approving">
      <app-workflow *ngIf="wfInstance && !addEmployee"
        [wfInstanceId]="wfInstance"
        [wfTemplateId]="wfTemplate"
        (setStructureID)="setCurrentStructure($event)"></app-workflow>
    </ng-container>

    <app-elms-place-employee *ngIf="addEmployee"
      [structureID]="structureID"
      (closeComponent)="closeComponent($event)"></app-elms-place-employee>

    <app-footer></app-footer>

  </ng-container>
</ng-container>

<p *ngIf="error">{{error}}</p>

<!-- <button md-raised-button (click)="generatePDF()">Generate PDF</button> -->
