<app-wf-header *ngIf="wfInstance" [wfInstance]=wfInstance></app-wf-header>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>

<ng-container *ngIf="rateTypesLoading; then loader else content"></ng-container>

<ng-template #loader>
  <md-progress-spinner
    class="example-margin, spinner-small"
    [color]="color"
    [mode]="mode"
    [value]="value">
  </md-progress-spinner>
</ng-template>

<ng-template #content>
  <ng-container *ngIf="wfEmployeesLoading; then empLoader else empContent">
  </ng-container>

  <ng-template #empLoader>
    <p>Employees loading</p>
  </ng-template>

  <ng-template #empContent>

    <ng-container *ngIf="wfTemplateId == 1"> <!-- Employee confirmation -->
        <p>Employee Confirmations are not yet implemented.</p>
    </ng-container>

    <ng-container *ngIf="wfTemplateId == 2"> <!-- Daily timesheet -->
      <div *ngFor="let e of wfEmployees">
        <app-workflow-employee
          [employee]=e
          [calendar]=wfInstance.calendarID
          [rateTypes]=rateTypes.result
          [wfDays]=wfDays>
        </app-workflow-employee>
      </div>

      <p>Page {{ page() }} of {{ pages() }} ({{ total }} total) </p>
      <button (click)='previous()'>previous</button>
      <button (click)='next()'>next</button>
    </ng-container>

    <ng-container *ngIf="wfTemplateId == 3"> <!-- Weekly timesheet -->
      <p>Weekly timesheets are not yet implemented</p>
    </ng-container>

  </ng-template>

</ng-template>
