<p>Loading: {{loading}}</p>

<app-wf-header *ngIf="wfInstance" [wfInstance]=wfInstance></app-wf-header>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>

<ng-container *ngIf="rateTypesLoading; then loader else content"></ng-container>

<ng-template #loader>
  <md-progress-spinner
    class="example-margin, spinner-small"
    [color]="color"
    [mode]="mode"
    [value]="value">
  </md-progress-spinner>
</ng-template>
<ng-template #content>
  <ng-container *ngIf="wfEmployeesLoading; then empLoader else empContent">
  </ng-container>

  <ng-template #empLoader>
    <p>Employees loading: {{wfEmployeesLoading}}</p>
    <p>Timesheets loading: {{wfTimesheetsLoading}}</p>
    <p>Rate Types loading: {{rateTypesLoading}}</p>
  </ng-template>

  <ng-template #empContent>

    <ng-container *ngIf="wfTemplateId == 1"> <!-- Employee confirmation -->
        <p>Employee Confirmations are not yet implemented.</p>
    </ng-container>

    <ng-container *ngIf="wfTemplateId == 2 || wfTemplateId == 3"> <!-- Daily timesheet -->
      <ng-container *ngFor="let e of wfEmployees">
        <app-workflow-employee *ngIf="!e.timesheetsLoading"
          [wfTemplateId]=wfTemplateId
          [employee]=e
          [rateTypes]=rateTypes.result
          [wfDays]=wfDays
          [columnHeaders]=getColumnHeaders()>
        </app-workflow-employee>
      </ng-container>

      <app-wf-grandtotal *ngIf="!wfEmployeeTimeLoading()"
          [wfTemplateId]=wfTemplateId
          [employees]=wfEmployees
          [columnHeaders]=getColumnHeaders()></app-wf-grandtotal>

      <ng-container *ngIf="pageSelector">

      <md-card class="header-card">
        <md-card-content>
          <p>Page {{ page() }} of {{ pages() }} ({{ total }} total) </p>
          <button md-raised-button (click)='previous()'>previous</button>
          <button md-raised-button (click)='next()'>next</button>

          <md-select placeholder="items per page" [(ngModel)]="limit" (change)="changePageSize()">
            <md-option *ngFor="let p of pageSelector" [value]="p">
              {{ p }}
            </md-option>
          </md-select>
        </md-card-content>
      </md-card>

      </ng-container>

    </ng-container>

    <!-- <ng-container *ngIf="wfTemplateId == 3">
      <p>Weekly timesheets are not yet implemented</p>
    </ng-container> -->

  </ng-template>

</ng-template>
